.bg-dark{
    background-color: rgb(56, 56, 56);
}

.text-white{
    color: #fff;
}

.custom-img{
    border-radius: 20px;
    padding: 10px;
    width: calc(100% - 20px);
}

.custom-bottoms button, .custom-bottoms div{
    border-color: #fff;
    color: #fff;
}
